---
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
---
<MainLayout title="Julie Fox">
<section>
	<h1>MULTIMEDIADESIGN</h1>
	<h1>STUDENT</h1>
	<img src="" alt="">
	<img src="" alt="">
	<p>JULIE FOX E. PETERSEN</p>
</section>
<section>
	<h2>ABOUT ME</h2>
	<img src="" alt="">
	<p>EDUCATION: MULTIMEDIADESIGN STUDENT (ERHVERVSAKADEMI KØBENHAVN)</p>
	<p>WORK: & OTHER STORIES (FREDERIKSBERG CENTRET)</p>
	<p>COMPETENCIES:</p>
	<p>GRAPHIC DESIGN</p>
	<p>CONTENT CREATION</p>
	<p>UX/UI</p>
	<h3>SUMMARY:</h3>
	<p>My name is Julie Fox Petersen, I am 23 years old and based in Copenhagen. I am currently studying Multimedia Design at EK while working part-time at & Other Stories. I am passionate about graphic design, fashion, interior design and traveling. </p>
	<button>CV</button>
</section>
<section>
	<h3>CONTACT</h3>
	<p>Are you interesting? Send me an email.</p>
	<button>E-MAIL</button>
</section>
<Footer /> 
</MainLayout>