---
---
<footer class="bg-[#726961] p-15 text-center">
  <a href="https://www.linkedin.com/in/julie-fox-petersen-23932637a/" target="_blank" rel="noopener noreferrer">
    <img src="/linkedin_logo.svg" alt="LinkedIn logo" class="inline-block  w-15 h-15" />
  </a>
  <a href="https://www.instagram.com/juliefoxp/" target="_blank" rel="noopener noreferrer">
    <img src="/instagram_logo.svg" alt="Instagram logo" class="inline-block  w-11.5 h-11.5" />
  </a>
  <p class="text-white mt-4">© 2025 Julie Fox E. Petersen</p>
</footer>
